{% extends 'base.html' %}
{% block content %}
<!--------------------- activities ------------------------------------------>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>List of activites</title>
 <ul>
    {% for activity_name in activities %}
      <li>
        <a href="/activity/{{ activity_name.activity_id }}">
          {{ activity_name.activity_id }} ({{ activity_name.activity_name }})
        </a>
      </li>
    {% endfor %}
  <meta charset="utf-8">
  <a href="https://imgur.com/Dvj0wOs"><img src="https://i.imgur.com/Dvj0wOs.jpg?2" title="source: imgur.com" /></a>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <a href="https://imgur.com/aFYY7NR"><img src="https://i.imgur.com/aFYY7NR.jpg" title="source: imgur.com" /></a>
  <a href="https://imgur.com/qhYahGS"><img src="https://i.imgur.com/qhYahGS.jpg?2" title="source: imgur.com" /></a>
</head>
<body>

{% endblock %}