{% extends "base.html" %}

{% block content %}


<h1 class="title">
  Childs Profile
</h1>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border-radius: 50%;
}
</style>
</head>
<body>
    <img src="{{ child.avatar(128) }}" alt="Avatar" style="width:150px">
        <br>
            <h1>Name: {{ child.childs_name }}</h1>
            <h1>Age: {{ child.childs_age}}</h1>
            <h1>Zipcode {{ child.zipcode}}</h1>
            <hr>
</body>
</html> 

<table>
    <div class="container">
        <a href="/childsactivity"class="btn btn-outline-success" role="button">View  list of activities</a>
    <div class="container">
        </a>
    </tr>
</table>
    <hr>


<table>
    <div>
        <tr>
            <p> Matches </p>
            {% if matches %}
            <ul>
            {%for match in matches%}
            {%if child.childs_id != match.childs_id %}

            <li><a href="/childsprofile/{{match.childs_name}}">{{match.childs_name}}</a></li>
            {%endif%}

            {% endfor %}
            </ul>
            {% endif %}
            <br>
            <p>Your activities of choice</p>
            {% if child.activities %}
             <ul>
            {% for activity in child.activities %}
            <li><a href="/activities/{{activity.activity_id}}">{{activity.activity_name}}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            </br>
        </tr>
    </div>
</table>

<table>
    <tr>
        <div>
        <p>List of parents</p>
        {% if child.parents %}
        <ul>
        {% for parent in child.parents %}
        <li><a href="/profile/{{parent.parent_id}}">{{parent.username}}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        </div>
    </tr>
</table>
<hr>

<div>
    <br>
    <p>
    </p>
    <a href="/childsprofile" class="btn btn-outline-success" role="button">Edit profile information</a>
    <br>
</div>



{% endblock %}