{% extends "base.html" %}

{% block content %}
<h1 class="title">
  What are you looking for? 
</h1>
<p>
    {{parent.parent}}
</p>

    <h1>Choose your intent</h1>

    <form action="/intent">
      <input type="checkbox" id="checkbox1" name="intentchoice" value="1">
      <label for="checkbox1"> Meet Other Parents</label><br>

      <input type="checkbox" id="checkbox2" name="intentchoice" value="2">
      <label for="checkbox2"> Connect my child</label><br>
    
      <input type="submit" value="Submit">
    </form>


{% endblock %}