{% extends 'base.html' %}

{% block content %}


<div class="well spaced" style="width:60%">
  <h2>View list of Parents</h2>

  <ul>
    {% for parent in parents %}
      <li>
        <a href="/profile/{{ parent.parent_id }}">
          {{ parent.parent_id }} ({{ parent.parent }})
        </a>
      </li>
    {% endfor %}

            <div class="col-md-6 gedf-main">
    <a href="https://imgur.com/UBHjXDU"><img src="https://i.imgur.com/UBHjXDU.png" title="source: imgur.com" /></a>

{% endblock %}

