{% extends "base.html" %}

{% block content %}


<h1 class="title">
  Profile Page
</h1>
    <table>
        <tr valign="top">
            <td><img src="{{ parent.avatar(128) }}"></td>
            <td><h1>User: {{ parent.parent }}</h1></td>
        </tr>
    </table>
    <hr>
</p>


<p>
</h1>
    <table>
        <tr>

            <br>
            <h1>Choose your intent</h1>
            </br>
            <a>
            <div class="container">
            <a href="/parentlist?next_route=parentlist" class="btn btn-outline-success" role="button">Meet parents </a>
            </div>

            <a>
            <div class="container">
            <a href="/childlist?next_route=childlist" class="btn btn-outline-success" role="button">Connect children </a>
            <div class="container">
            <a href="/activitylist?next_route=activitylist" class="btn btn-outline-success" role="button">View  list of activities</a>
            <div class="container">
        </a>
        </tr>
    </table>
    <hr>
</p>


</h1>
    <table>
        <tr>
         <br>
            <p>Your activities of choice</p>
            {% if parent.activities %}
             <ul>
            {% for activity in parent.activities %}
            <li><a href="/activities/{{activity.activity_id}}">{{activity.activity_name}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
    </br>
        </tr>
    </table>

    <table>
        <tr>
    <p>List of children</p>
    {% if parent.children %}
        <ul>
            {% for child in parent.children %}
            <li><a href="/children/{{child.childs_id}}">{{child.childs_name}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
        </tr>
    </table>
    <hr>
</p>

<div>
    <br>
    <p>
    </p>
<a href="/parentlist?next_route=add_location" class="btn btn-outline-success" role="button">Edit profile information</a>
    <br>
</div>
<div>
    <br>
    <p>



{% endblock %}



  
