{% extends "base.html" %}

{% block content %}


<h1 class="title">
  Profile Page
</h1>
    <table>
        <tr valign="top">
            <td><img src="{{ parent.avatar(128) }}"></td>
            <td><h1>User: {{ parent.parent }}</h1></td>
        </tr>
    </table>
    <hr>


<div>
    <br>
    <p>
    {{parent.activities}}
    </p>
<a href="/activities?next_route=add_entry" class="btn btn-outline-success" role="button">Select an activity</a>
    <br>
</div>


<div>
    <br>
    <p>
    {{parent.children}}
    </p>
<a href="/add_child?next_route=add_location" class="btn btn-outline-success" role="button">Connect your child</a>
    <br>
</div>


<div>
    <br>
    <p>

    </p>
<a href="/parentlist?next_route=add_location" class="btn btn-outline-success" role="button">View parents profile</a>
    <br>
</div>


    <hr>
    {% for activity in activities %}
    <p>
    {{ activity.parent }} View activities: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
{% endblock %}










